APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

TWITTER_KEY=
TWITTER_SECRET=
TWITTER_REDIRECT=

FACEBOOK_ID=
FACEBOOK_SECRET=
FACEBOOK_REDIRECT=